[submodule "api/account"]
	path = api/account
	url = git@github.com:repo-classes/pma262-account.git
[submodule "api/account-service"]
	path = api/account-service
	url = git@github.com:hsandmann/pma262-account-service.git
